.status-bar__warp{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
   
    
}

.status-bar{
    background-color: white;
    padding: 3px 10px;
    
    display: flex;
    justify-content: space-between;

    
    
    
}



.status-bar__left{
    display: flex;
    align-items: center;
    font-size:15px;
}

.status-bar__left span:last-child{
    font-size:21px;
    margin-left:2px;
}

.status-bar__right{
    display: flex;
    align-items: center;
}

.status-bar__right span{
    margin-right: 4px;
}