
@import "reset.css";

/*Components*/
@import "component/status-bar.css";

/*Screens*/


body{
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.warp{
    margin: 0px 30px;
}
.welcome-header{
    margin: 100px 0px;
}

.welcome-header h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.welcome-header p{
    opacity: 50%;
}

.login-form__input{
    display: flex;
    flex-direction: column;
    margin:10px 0px;
}

.login-form__input input{
    width: 96%;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-size: 15px;
    padding:0px 10px;
    transition: border-color .3s ease-in-out;
}

.login-form__input input::placeholder{
    opacity: 50%;
}

.login-form__input input:focus{
    border-color: #F7E600;
}

.check{
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.check input{
    width:10px;
    border-radius: 10px;
    margin-right:10px;
}

.login-form__submit{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__submit input{
    width: 380px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.login-form__submit input:first-child{
    background-color: #F7E600;
    margin-bottom: 20px;
    
}

.login-form__submit input:last-child{
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    
}

.or{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    opacity: 30%;

}

.line{
    width: 160px;
    height: 1px;
    background-color: black;
    opacity: 20%;
    margin: 10px;
}

.login-more{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    font-size: 12px;
    opacity: 70%;
   
}

.login-more__find{
    display: flex;
}

.squre{
    width: 1px;
    height:12px;
    background-color: rgb(218, 218, 218);
    margin:0px 10px;
}